@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    height: 700px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(45deg, #a0e2de, #bad6fb, #fff, #fff, #ffffff, #ffffff, #ffffff);
}

.logo img{
    max-width: 20%;
    height: auto;
}

.form{
    padding: 32px;
    margin-top:  50px;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 12px 48px rgb(26 33 52 / 11%);
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.reset-form{
    height: auto;
}

.head{
    display: flex;
    font-size: 20px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    margin-bottom: 24px;
}

.head a{
    font-size: 14px;
    color: rgb(74, 110, 224);
}

.reset-text{
    color: rgb(77, 83, 110);
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 20px;
}

.mail input{
    padding-left: 3%;
    width: 97%;
    height: 48px;
    border: 1px solid rgb(231, 233, 245);
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.text{
    margin: 15px 0;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}

.text a{
    color: black;
}

.button{
    text-align: center;
    padding: 15px 0;
}

.agree-btn{
    padding: 0px ;
}

.button button{
    width: 100%;
    height: 48px;
    background: #11a683;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 12px;
    cursor: pointer;
}

.button a{
    color: #6D758D;
    font-size: 14px;
}

.button button:hover{
    background: #0abb92;
}

.links button{
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgb(231, 233, 245);
    border-radius: 4px;
    color: #6D758D;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.links button:hover{
    border: 1px solid rgb(199, 199, 199);
    background: #f5f5f5;
}

.links .pack{
    float: left;
    width: 200px;
}

.links .facebook .pack{
    margin-left: 10px;
}

.links .next{
    padding-left: 130px;
    opacity: .5;
}

.links .facebook img{
    padding-right: 10px;
}

.links .text{
    font-size: 14px;
    padding-left: 10px;
}

.links .facebook .text{
    padding-left: 0;
}

.text1{
    color: #6D758D;
    font-size: 12px;
    line-height: 18px;
}

.text1 p{
    padding-top: 10px;
}

.text1 a{
    color: #6D758D;
}

.else{
    text-align: center;
}

.else a{
    color: #6D758D;
    font-size: 14px;
    text-decoration: none;
}
